<footer class="bg-gray-800 mt-auto">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
      <div class="px-5 py-2">
        <a href="/" class="text-base text-gray-300 hover:text-white">Home</a>
      </div>
      <div class="px-5 py-2">
        <a href="/services/" class="text-base text-gray-300 hover:text-white">Services</a>
      </div>
      <div class="px-5 py-2">
        <a href="/comparisons/" class="text-base text-gray-300 hover:text-white">Comparisons</a>
      </div>
      <div class="px-5 py-2">
        <a href="/about/" class="text-base text-gray-300 hover:text-white">About</a>
      </div>
      <div class="px-5 py-2">
        <a href="/privacy-policy/" class="text-base text-gray-300 hover:text-white">Privacy Policy</a>
      </div>
    </nav>
    <p class="mt-8 text-center text-base text-gray-400">
      &copy; {{ 'now' | date: "%Y" }} EmailVerifiers. All rights reserved.
    </p>
  </div>
</footer>